@page "/Usuario/Registro"
@model RegistrosModel
@{
    ViewData["Title"] = "Registrar";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Style.css">
    <title>Registros</title>
</head>

<body>

    <div class="container">
        <div class="form">
            <div class="btn">
                <button class="signUpBtn">SIGN UP</button>
            </div>

            <form class="signUp" method="post">
                <div class="formGroup">
                    <input  asp-for="Input.Name" id="userName" placeholder="User Name" required autocomplete="off">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="formGroup">
                    <input asp-for="Input.Mail" placeholder="Email ID" required autocomplete="off">
                    <span asp-validation-for="Input.Mail" class="text-danger"></span>
                </div>
                <div class="formGroup">
                    <input asp-for="Input.Password" id="password" placeholder="Password" required autocomplete="off">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="formGroup">
                    <input asp-for="Input.ConfirmPassword" id="confirmPassword" placeholder="Confirm Password" required autocomplete="off">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="checkBox">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <span class="text">I agree with term & conditions</span>
                </div>

                <p class="forget">Do you have an account? <a class="" asp-area="Usuario" asp-controller="Usuario" asp-action="ViewUsuario">Sign up</a></p>

                <div class="formGroup">
                    <button type="submit" class="btn2">REGISTER</button>
                </div>
            </form>

            <!------ Login Form -------- -->
            <!--<form class="login" action="" method="get">

                <div class="formGroup">
                    <input type="email" placeholder="Email ID" name="email" required autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" id="password" placeholder="Password" required autocomplete="off">

                </div>
                <div class="checkBox">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <span class="text">Keep me signed in on this device</span>
                </div>
                <div class="formGroup">
                    <button type="button" class="btn2">REGISTER</button>
                </div>

            </form>-->

        </div>
    </div>
</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

